@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<environment include="Development">
 
    <link rel="stylesheet" href="~/css/dev.css" />

</environment>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logoimg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Services" asp-action="Index">Услуги<span class="sr-only">(current)</span></a>
                <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Portfolio" asp-action="Index">Портфолио</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Useful" asp-action="Index">Полезное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Проект</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Приложения</a>
            </li>
        </ul>
        <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social-em"></i></a>

        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>*@
    </div>
</nav>
@RenderBody()
