<!DOCTYPE html>
<html>
<head>
    <link rel="manifest" href="~/manifest.json">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Petronomica</title>
    <meta content="Финансы,бухгалтерия,обучение,курсовые,баланс онлаин,чистый интернет" name="keywords" />
    <meta content="Petronomica" name="description" />
    <environment include="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="begin"></div>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logoimg"></a>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mainnav" asp-controller="Services" asp-action="Index">Услуги<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mainnav" asp-controller="Portfolio" asp-action="Index">Портфолио</a>
                </li>
                <li class="nav-item mainnav">
                    <a class="nav-link" asp-controller="Misc" asp-action="Index">Полезное</a>
                </li>
                @*<li class="nav-item mainnav">
                    <a class="nav-link" asp-controller="Project" asp-action="Index">Проект</a>
                </li>*@
                <li class="nav-item mainnav">
                    <a class="nav-link" asp-controller="Useful" asp-action="Index">Чтиво</a>
                </li>
                <li>
                    <button type="button" class="btn btn-primary font-weight-bold" data-toggle="modal" data-target="#exampleModal">?</button>
                <li>
            </ul>
            <a asp-controller="Misc" asp-action="Wish"><i id="social-em" class="fa fa-envelope-square fa-3x social-em"></i></a>
           
            @*<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
        </div>
    </nav>
    <!-- Cookie partial -->
    @*<partial name="_CookieConsentPartial" />*@
    <div class="container body-content">
        @RenderBody()

        <hr />
        <a class="btn-info btn-sm d-xl-none d-lg-none" href="#begin">Наверх</a>
        <section id="footer">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                 
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Заказчику</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="~/userwfiles/abramov/Offert.docx"><i class="fa fa-angle-double-right"></i>Договор</a></li>
                            <li><a asp-controller="Misc" asp-action="Guarantee"><i class="fa fa-angle-double-right"></i>Гарантии</a></li>  
                            <li><a asp-controller="Misc" asp-action="Index"><i class="fa fa-angle-double-right"></i>Источники</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                            <ul class="list-unstyled list-inline social text-center">
                                <li class="list-inline-item"><a href="https://www.facebook.com/petronomist/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/petronomica" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/petronomica/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="https://vk.com/petronomica" target="_blank"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>
                        </hr>
                    </div>
                </div>
        </section>
        @*</div>
        <section id="footer">
            <div class="col">
                <h5>Клиенту</h5>
                <ul class="list-group-item-danger list-inline  text-center">
                    <li><a href="~/userwfiles/abramov/Offert.docx"><i class="fa fa-angle-double-right"></i>Договор</a></li>
                    <li><a asp-controller="Misc" asp-action="Guarantee"><i class="fa fa-angle-double-right"></i>Гарантии</a></li>
                    <li><a asp-controller="Misc" asp-action="AntiPlagiat"><i class="fa fa-angle-double-right"></i>Антиплагиат</a></li>
                    <li><a asp-controller="Misc" asp-action="PaidMethods"><i class="fa fa-angle-double-right"></i>Оплата</a></li>
                    <li><a asp-controller="Misc" asp-action="Index"><i class="fa fa-angle-double-right"></i>Источники</a></li>
                </ul>
            </div>
        </section>
            <footer class="indexfooter">
                <div class="col">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/petronomist/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/petronomica" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/petronomica/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://vk.com/petronomica" target="_blank"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </footer>*@

        <!-- Footer Links -->
        <!-- Copyright -->
        @*<div class="footer-copyright text-center py-3">
            © 2018 Copyright:
            <a href="https://feziko.ru/"target="_blank"> Feziko</a>
        </div>*@
        <!-- Copyright -->
        <!-- Footer -->
        <!--Footer-->
        @*<footer class="indexfooter">

        <a href="https://wa.me/79836037400?text=Я%20заинтересован%20в%20ваших%20услугах"><img src="~/images/whatsup.png" alt="Whatsup"></a>
        <a href="#" data-toggle="modal" data-target="#exampleModal"><img src="~/images/sup.png" alt="Поддержка"></a>
        <a href="https://vk.com/petronomica" target="_blank"><img src="~/images/vk-icon.png" alt="Вконтакте"> </a>
        @*<a href="https://feziko.ru/" style="margin-left:20%;padding-top:10px"> © 2018 Copyright</a>
        </footer>*@
        <!-- Button trigger modal -->


        <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Быстрая поддержка</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="text-left" style="padding-right:1%">
                            <li>Как сэкономить при написании научно-исследовательской работы на заказ?</li>
                            <li>Сколько потребуется времени для написания каждого типа работы?</li>
                            <li>Можно ли написать диплом за одну ночь?</</li>
                            <li>Как отличить хорошего автора студенческих работ от плохого?</</li>
                            <li>Как оплатить выполнение работы? </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <environment include="Development">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>

        </environment>
        <script asp-src-include="~/js/app.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/userinfo.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/site.js" asp-append-version="true"></script>
        <script>
            var app = new AppX();
                                                                                                                                                                                     //   app.ShowUserInfo();

        </script>
        @RenderSection("Scripts", required: false)
</body>
</html>
