
@{
    ViewData["Title"] = "Гарантии";
}




<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <p>
            Мы гарантируем качественное выполнение работы, соответствующей всем заявленным требованиям!
        </p>
        <p>
            В случае необходимости нами проводится бесплатное устранение всех недостатков в работе в ходе ее написания и в течение 45 дней после сдачи окончательного варианта.
        </p>
        <p> Для этого необходимо предоставить конкретные замечания преподавателя в файле текстового редактора или изображения (txt, doc, docx, jpeg, pdf и др.). </p>

    </div>
</div>