
@{
    ViewData["Title"] = "Гарантии";
}



<h2>Условия доработки</h2>
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <p>
            Мы гарантируем качественное выполнение работы, соответствующей всем заявленным требованиям!
        </p>
        <p>
            В случае необходимости нами проводится бесплатное устранение всех недостатков в работе в ходе ее написания и в течение 45 дней после сдачи окончательного варианта.
        </p>
        <p> Для этого необходимо предоставить конкретные замечания преподавателя в файле текстового редактора или изображения (txt, doc, docx, jpeg, pdf и др.). </p>

    </div>
</div>
<hr />
<br />
<h3>Плагиат контроль</h3>

<div class="row" style="width:50%">

    <div class="col-md-6 sm-3">

        <h4>Антиплагиат (от 75%)</h4>
        <img class="rounded-top" src="~/images/antiplagiat/ap.jpg" width="150" height="128">
    </div>
    <div class="col-md-6 sm-3">
        <h4>АнтиплагиатВУЗ (от 70%)</h4>
        <img class="rounded-top border-0" src="~/images/antiplagiat/vuz.png" width="150" height="128">
    </div>
    <div class="col-md-6 sm-3">
        <h4> eText (от 50%)</h4>
        <img class="rounded-top border-0" src="~/images/antiplagiat/eteks.jpg" width="150" height="128">
    </div>
</div>
<hr />
<br />

<h3>Методы оплаты</h3>

<div class="row" style="width:50%">
    <div class="col-md-6 sm-3">
        <img class="rounded-top" src="~/images/yamoney.png" width="150" height="128">
    </div>
    <div class="col-md-6 sm-3">
        <img class="rounded-top border-0" src="~/images/qiwi.png" width="150" height="128">
    </div>
    <div class="col-md-6 col-sm-3">
        <img class="rounded-top border-0" src="~/images/sber.png" width="150" height="128">
    </div>
</div>