
@{
    ViewData["Title"] = "Оплата";
}

<div class="row" style="width:50%">
    <div class="col">
        <img class="rounded-top" src="~/images/yamoney.png" width="150" height="128">
    </div>
    <div class="col">
        <img class="rounded-top border-0" src="~/images/qiwi.png" width="150" height="128">
    </div>
    <div class="col">
        <img class="rounded-top border-0" src="~/images/sber.png" width="150" height="128">
    </div>
</div>

