@model Petronomica.ViewModels.PreOrderViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3"></h4>
            @Model.Title;
            <form asp-controller="Services" asp-action="FastOrder" method="post" enctype="multipart/form-data">
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Адрес электронной почты</label>
                        <input type="hidden" value="@Model.Title" asp-for="Title"/>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите почту" asp-for="Email">
                        <div class="invalid-feedback">
                            Почтовый адрес обязателен для заполнения
                        </div>
                    </div>
                </div>
                <div class="custom-file" style="margin-top:5px;">
                    <input type="file" class="btn btn-success" multiple="multiple" name="files" id="files" asp-for="YFiles">
                </div>
                <div class="form-group" style="margin-top:5px;">
                    <label for="comment">Дополнительные пожелания:</label>
                    <textarea class="form-control" rows="5" id="comment" asp-for="Message"></textarea>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить заявку</button>
            </form>
        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline" style="padding-bottom:1%">
        <li class="list-inline-item"><a href="#">Договор-оферта</a></li>
    </ul>
</footer>