<div class="container">

    <!-- Page Heading -->


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="min-height:100px;background-color:brown"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Кредитования субъектов малого и среднего предпринимательства</a>
                    </h4>
                    <p class="card-text">Основными предпосылками развития малого и среднего предпринимательства в России являются стремление банков увеличить долю на конкурентном рынке, появление государственных и муниципальных программ развития и поддержки малого и среднего бизнеса, посткризисные явления в экономике, способствующие самозанятости населения, наличие финансового разрыва в обеспечении потребностей малого бизнеса. Растущее число субъектов малого и среднего предпринимательства обусловливает изменение потребностей в банковском обслуживании с их стороны.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="min-height:100px;background-color:deepskyblue"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Факторный анализ развития методов элктронной торговли в России</a>
                    </h4>
                    <p class="card-text">Развитие сети Интернет привело к резкому росту популярности техно-логии электронной торговли не только среди торговых, но и промышленных предприятий. Интернет стимулировал развитие электронной торговли на уровне отдельного хозяйствующего субъекта. Многие предприятия получили возможность осуществлять свои коммерческие сделки и другие операции в оперативном электронном режиме – режиме реального времени. Поэтому проблемы, связанные с Интернет-торговлей, в настоящее время – очень актуальная тема для исследования.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" style="min-height:100px;background-color:mediumslateblue"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Финансовая устойчивость коммерческого предприятия</a>
                    </h4>
                    <p class="card-text">В рыночных условиях залогом выживаемости и основой стабильного положения предприятия служит его финансовая устойчивость. Если предприятие финансово устойчиво, платежеспособно, то оно имеет ряд преимуществ перед другими предприятиями того же профиля для получения кредитов, привлечения инвестиций, в выборе поставщиков и в подборе квалифицированных кадров. Чем выше устойчивость предприятия, тем более оно независимо от неожиданного изменения рыночной конъюнктуры и, следовательно, тем меньше риск оказаться на краю банкротства.</p>
                </div>
            </div>
        </div>
    </div>
</div>