body {
  margin:0;
}
.orderbutgroup {
    position: fixed;
    z-index: 100;
    background-image: linear-gradient(to top, #5884BC, #395e8d);
    background-color: #4471a9;
}
#orderbut {
    z-index: 100;
    cursor: pointer;
    color: whitesmoke;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    text-shadow: 0 1px 0 #48576D;
    background-image: linear-gradient(to top, #5884BC, #395e8d);
    background-color: #4471a9;
}

    #orderbut:hover {
        border: none;
        color: #FFF;
        box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        -moz-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        -webkit-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        background-color: #395e8d;
    }
.backgroundcard {
    background-color:whitesmoke;
}
    #orderbut:active {
        text-decoration-color: whitesmoke;
        background-color: #63A3F5;
    }
@media (max-width:573px) {
    #orderbut {
        display: none;
    }
 
  
}
@media (min-width:573px) {
    #orderbut {
        font-size: 7px;
    }
    .orderbutgroup {
        display: none;
    }
}

@media (min-width: 1024px) {
    #orderbut {
        
        font-size: 1em;
    }
  
   
}
    @media (min-width: 700px) {
        .dr-breakout-btn {
            display: none;
        }
     
    
        .dr-breakout {
            display: inline;
            background: transparent;
            box-shadow: none;
            border: none;
            position: relative;
            margin: 0;
        }

            .dr-breakout li {
                display: inline;
            }

                .dr-breakout li a {
                    display: inline-block;
                    padding: 6px 12px;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    background-image: none;
                    border-radius: 4px;
                    color: #fff;
                    background-color: #507281;
                }
    }

    .btn-group {
        left: 40%;
        margin: 50px 0;
    }