/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*background-image: url("../images/mainbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logoimg {
    background-image: url("../images/logo2.svg");
    background-repeat: no-repeat;
    min-height: 60px;
    min-width: 200px;
    margin-left: 1%;
    margin-top: 1%;
}

.logoimg1 {
    background-image: url("~qiwi.jpg");
    background-repeat: no-repeat;
    min-height: 60px;
    min-width: 200px;
    margin-left: 1%;
    margin-top: 1%;
}

.navbtn {
    cursor: pointer;
    border: none;
    color: yellow;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
    height: auto;
    font-size: 1em;
    box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    -moz-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    -webkit-box-shadow: inset 0px 1px 1px 0 #90ADD2,0px 5px 0px 0 #223955,0px 8px 5px 0 #B3B3B3;
    text-shadow: 0 1px 0 #48576D;
    background-image: linear-gradient(to top, #5884BC, #395e8d);
    background-color: #4471a9;
}

    .navbtn:hover {
        border: none;
        color: #FFF;
        box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        -moz-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        -webkit-box-shadow: inset 0px 1px 0px 0 #90ADD2,0px 2px 0px 0 #223955,0px 4px 3px 0 #6B6B6B;
        background-color: #395e8d;
    }

    .navbtn:active {
        text-decoration-color: whitesmoke;
        background-color: #63A3F5;
    }

.navbar {
    background-color: whitesmoke;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.navbar-nav {
    margin-top: 15px;
}

.navbar-toggle {
    background-color: gray;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.indexfooter {
    background-image: linear-gradient(to bottom, #b5bdc8, #828c95, #28343b 80% );
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

#social-em {
    font-size: 62px;
}

img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.promoblock {
    background-color: #CDDEFC;
    border: 0.5em double #86813C;
    padding: 2px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */

    .navbtn {
        margin-top: 1%;
    }

    .logoimg {
        margin: 0;
    }

    .navbar-nav {
        margin: 2px;
    }

    .body {
        margin-top: 10px;
    }

    img {
        width: 32px;
        height: 32px;
        object-fit: cover;
    }

    #social-em {
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    /* Hide captions */

    .navbtn {
        margin-top: 1%;
    }

    .logoimg {
        margin: 0;
    }

    .navbar-nav {
        margin: 2px;
        margin-left: 10px;
    }

    .body {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    /* Hide captions */

    .navbtn {
        margin-top: 1%;
        margin-right: 4px;
    }

    img {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1820px) {
    /* Hide captions */


    .navbtn {
        margin-top: 1%;
        margin-right: 4px;
    }

    img {
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}
