<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Petronomica</title>
    <meta content="Финансы,бухгалтерия,обучение,курсовые,баланс онлаин,чистый интернет" name="keywords" />
    <meta content="Petronomica" name="description" />

    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/skeleton.css" />
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logoimg"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="color:black"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbtn" style="color:yellow" asp-area="" asp-controller="Home" asp-action="Services">Услуги</a></li>
                    <li><a class="navbtn" style="color:yellow" asp-area="" asp-controller="Home" asp-action="Project">Проект</a></li>
                    <li><a class="navbtn" style="color:yellow" asp-area="" asp-controller="Home" asp-action="Practical">Полезное</a></li>
                    <li><a class="navbtn" style="color:yellow" asp-area="" asp-controller="Apps" asp-action="Index">Приложения</a></li>
                </ul>
                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="indexfooter">
            <a href="#"><img src="~/images/whatsup.png" alt="Whatsup"></a>
            <a href="#"><img src="~/images/sup.png" alt="Поддержка"></a>
            <a href="#"><img src="~/images/vk-icon.png" alt="Вконтакте"> </a>


            <div class="footer-copyright text-left py-3" style="margin-left:1%">
                © 2018 Copyright:
                <a href="https://feziko.ru/"> feziko.ru</a>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
