<div id="orderbut" class='btn-group mr-2' role='group' aria-label='First group'>
    <button type="button" class="btn btn-primary " bs-toggle-modal="simpleModal">
        Заказов выполненных <span class="badge badge-light">10</span>
        <span class="sr-only"></span>
    </button>
    <button type="button" class="btn btn-primary " bs-toggle-modal="simpleModal">
        Заказов в работе <span class="badge badge-light">2</span>
        <span class="sr-only"></span>
    </button>
    <button type="button" class="btn btn-primary " bs-toggle-modal="simpleModal">
       Отзывы <span class="badge badge-light">4</span>
        <span class="sr-only"></span>
    </button>
    <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#antiplagiat" aria-expanded="false" aria-controls="paid">
        Антиплагиат
    </button>
</div>
<div class="collapse" id="antiplagiat">
    <div class="row" style="width:50%">
        <div class="col">
            <img class="rounded-top" src="~/images/yamoney.png" width="150" height="128">
        </div>
        <div class="col">
            <img class="rounded-top border-0" src="~/images/qiwi.png" width="150" height="128">
        </div>
        <div class="col">
            <img class="rounded-top border-0" src="~/images/sber.png" width="150" height="128">
        </div>
    </div>
</div>

