@model IEnumerable<Portfolio.PortfolioItem>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" asp-href-include="~/css/portfolio.css" asp-append-version="true" />
@*<link rel="stylesheet"  asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@


<div id="begin"></div>

@*@{await Html.RenderPartialAsync("_PortfolioInfo");}*@

<div class="container">
    @foreach (Portfolio.PortfolioItem mbox in Model)
    {

        <portfolio portfolio-item="mbox"></portfolio>
        for (int s = 0; s < mbox.Rating; s++)
        {
            <i class="fa fa-star fa-3x icon-d"></i>
        }
        <a class="btn-success" href="@mbox.downloadPath">Скачать</a>

    }
</div>
    <script asp-src-include="~/lib/bootstrap/asset/js/vendor/popper.min.js" asp-append-version="true"></script>
