@model Petronomica.ViewModels.ProductExtViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>ITS WORK MAZAFAKA</h2>
@Html.DisplayNameFor(model => model.Name)
@Html.DisplayFor(model => model.Image)