@model Petronomica.Models.SearchPaidDetail
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <form asp-controller="Services" asp-action="SaveSearchPaid" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                <label for="firstName">Адрес электронной почты</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите почту" asp-for="Email" required>
                <div class="invalid-feedback">
                    Почтовый адрес обязателен для заполнения
                </div>
            </div>
                    </div>
                    <div class="col-md-6 mb-3">

                        <label for="sel1">Вид информации:</label>
                        <select class="form-control" id="sel1" name="sellist1" asp-for="Infotype">
                            <option>Теоретический материал</option>
                            <option>Официальная статистика</option>
                            <option>Бухгалтерская финансовая отчетность</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="custom-control-label" for="plan">Не позднее</label>
                        <input type="datetime-local" id="plan" asp-for="dateTimePublication">
                    </div>
                    <hr />
                    <label class="custom-control-label" for="referat">Обязательные источники</label>
                    <input type="text" class="form-control" id="referat" asp-for="Sources">

                    <label class="custom-control-label" for="intro">Количество источников</label>
                    <input type="number" class="form-control" id="intro" asp-for="SourcesCount">

                    <div class="mb-3">
                        <input type="datetime-local" class="form-control" id="theory" asp-for="AvailabilityPeriod">
                        <label class="custom-control-label" for="theory">Срок готовности</label>
                    </div>
                    <div class="custom-file" style="margin-top:5px;">
                        <input type="file" class="btn btn-success" multiple="multiple" name="files" id="files" asp-for="YFiles">
                    </div>
                    <div class="form-group" style="margin-top:5px;">
                        <label for="comment">Дополнительные пожелания:</label>
                        <textarea class="form-control" rows="5" id="comment" asp-for="Message"></textarea>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <ul class="list-inline" style="padding-bottom:1%">
            <li class="list-inline-item"><a href="~/userwfiles/abramov/Offert.docx">Договор-оферта</a></li>
        </ul>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>

