@model Petronomica.ViewModels.PreOrderViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>test</h2>
<div class="container">
    <div class="row">

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Конструктор диплома</h4>
            <form asp-controller="Services" asp-action="Save" method="post" enctype="multipart/form-data">
                <input type="hidden" value="Test" asp-for="Title" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Адрес электронной почты</label>
                        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите почту" asp-for="Email" required>
                        <div class="invalid-feedback">
                            Почтовый адрес обязателен для заполнения
                        </div>
                        <div class="form-group" style="margin-top:5px;">
                            <label for="comment">Дополнительные пожелания:</label>
                            <textarea class="form-control" rows="5" id="comment" asp-for="Message"></textarea>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить заявку</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>