
<link rel="stylesheet" href="~/css/services.css" />

<div id="begin"></div>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav  justify-content-between d-none d-lg-block">
        <a class="p-2 text-muted" href="#">Финансы и кредит</a>
        <a class="p-2 text-muted" href="#">Бухгалтерский учёт</a>
        <a class="p-2 text-muted" href="#">Банковское дело</a>
        <a class="p-2 text-muted" href="#">Маркетинг</a>
        <a class="p-2 text-muted" href="#">Менеджемент</a>
        <a class="p-2 text-muted" href="#">Страхование</a>
        <a class="p-2 text-muted" href="#">Туризм</a>
    </nav>
</div>

@using HardCodeData
@{

    HardCodeProducts hrcodepr = new HardCodeProducts();
    //Product consul = new Product { Id = 1, Name = "Консультация по НИР", Price = 150, Image = "'../images/products/consul.png'" };
    //Product course = new Product { Id = 2, Name = "Курсовая", Price = 4000, Image = "'../images/products/course.png'" };
    //Product diplom = new Product { Id = 3, Name = "Диплом", Price = 8000, Image = "'../images/products/diplom.png'" };
    //Product magister = new Product { Id = 4, Name = "Магистерская диссертация", Price = 14000, Image = "'../images/products/magister.png'" };
    //Product analyze = new Product { Id = 5, Name = "Комплексный анализ предприятия", Price = 4500, Image = "'../images/products/analyze.png'" };
    //Product practice = new Product { Id = 6, Name = "Отчет по практике", Price = 2000, Image = "'../images/products/practice.png'" };
    //Product busynesscredit = new Product { Id = 7, Name = "Бизнес-план для получения кредита", Price = 6000, Image = "'../images/products/businesscredit.png'" };
    //Product busynessinvest = new Product { Id = 8, Name = "Инвестиционный бизнес-план", Price = 4700, Image = "'../images/products/businesscredit.png'" };
}

<div class="row" style="margin-top:1%;">
    <div class="col-md-4">
        <product-card product="hrcodepr.products[0]"></product-card>
    </div>
    @*<div class="col-md-4">
        <product-card product="diplom"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="magister"></product-card>
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-6">
        <product-card product="consul"></product-card>
    </div>
    <div class="col-md-6">
        <product-card product="practice"></product-card>
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-4">
        <product-card product="analyze"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="busynesscredit"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="busynessinvest"></product-card>
    </div>*@
</div>
<p id="result"></p>
<script asp-src-include="~/js/serviceorders.js">

</script>

