
<link rel="stylesheet" href="~/css/services.css" />

<div id="begin"></div>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav  justify-content-between d-none d-lg-block">
        <a class="p-2 text-muted" href="#">Финансы и кредит</a>
        <a class="p-2 text-muted" href="#">Бухгалтерский учёт</a>
        <a class="p-2 text-muted" href="#">Банковское дело</a>
        <a class="p-2 text-muted" href="#">Маркетинг</a>
        <a class="p-2 text-muted" href="#">Менеджемент</a>
        <a class="p-2 text-muted" href="#">Страхование</a>
        <a class="p-2 text-muted" href="#">Туризм</a>
    </nav>
</div>
<p>
   
