@model IEnumerable<Product>
<link rel="stylesheet" asp-href-include="~/css/services.css" asp-append-version="true" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        asp-fallback-src="~/lib/bootstrap/assets/js/vendor/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>



@{await Html.RenderPartialAsync("_GetOrderInfo");}


@{var ismobile = false;}
@if (!ismobile)
{
    <div>
        <div class="card-deck">
            <product-cardcss product="Model.First(x => x.Id == 1)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 2)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 3)"></product-cardcss>
        </div>
        <div class="card-deck" style="margin-top:2%">
            <product-cardcss product="Model.First(x => x.Id == 4)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 5)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 6)"></product-cardcss>
        </div>
        <div class="card-deck" style="margin-top:2%">
            <product-cardcss product="Model.First(x => x.Id == 7)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 8)"></product-cardcss>
            <product-cardcss product="Model.First(x => x.Id == 9)"></product-cardcss>
        </div>
    </div>
}
else
{
    <div class="row" style="margin-top:1%;">
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==2)"></product-card>
        </div>
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==3)"></product-card>
        </div>
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==4)"></product-card>
        </div>
    </div>
    <div class="row" style="margin-top:1%;">
        <div class="col-md-6">
            <product-card product="Model.First(x=>x.Id==1)"></product-card>
        </div>
        <div class="col-md-6">
            <product-card product="Model.First(x=>x.Id==6)"></product-card>
        </div>
        <div class="col-md-6">
            <product-card product="Model.First(x=>x.Id==9)"></product-card>
        </div>
    </div>
    <p class="lead bg-purple">Для бизнеса:</p>
    <div class="row" style="margin-top:1%;">
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==5)"></product-card>
        </div>
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==7)"></product-card>
        </div>
        <div class="col-md-4">
            <product-card product="Model.First(x=>x.Id==8)"></product-card>
        </div>
    </div>
}

<modal id="simpleModal"
       title="Предзаказ">
    <modal-body>
        <p id="result">Нажмите на иконку нужной услуги</p>
    </modal-body>
</modal>
<script asp-src-include="~/js/serviceorders.js" asp-append-version="true">

</script>

