
<link  rel="stylesheet" asp-href-include="~/css/services.css" asp-append-version="true" />

<div id="begin"></div>
<div class="nav-scroller py-1 mb-2">
    <nav class="nav justify-content-center d-none d-lg-block">
        <a class="p-2 text-muted" href="#">Финансы и кредит</a>
        <a class="p-2 text-muted" href="#">Бухгалтерский учёт</a>
        <a class="p-2 text-muted" href="#">Банковское дело</a>
        <a class="p-2 text-muted" href="#">Маркетинг</a>
        <a class="p-2 text-muted" href="#">Менеджемент</a>
        <a class="p-2 text-muted" href="#">Страхование</a>
        <a class="p-2 text-muted" href="#">Туризм</a>
    </nav>
</div>
@model IEnumerable<Product>

    <button id="orderbut" type="button"  bs-toggle-modal="simpleModal">
        <h4>Оформить</h4>
    </button>


  <p class="lead bg-purple">Для студентов:</p>
<div class="row" style="margin-top:1%;">


    <div class="col-md-4">
        <product-card product="Model.First(x=>x.Id==2)"></product-card>
    </div>
    <div class="col-md-4">

        <product-card product="Model.First(x=>x.Id==3)"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="Model.First(x=>x.Id==4)"></product-card>
    </div>

</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-6">
        <product-card product="Model.First(x=>x.Id==1)"></product-card>
    </div>
    <div class="col-md-6">
        <product-card product="Model.First(x=>x.Id==6)"></product-card>
    </div>
</div>
<p class="lead bg-purple">Для бизнеса:</p>
<div class="row" style="margin-top:1%;">
    <div class="col-md-4">
        <product-card product="Model.First(x=>x.Id==5)"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="Model.First(x=>x.Id==7)"></product-card>
    </div>
    <div class="col-md-4">
        <product-card product="Model.First(x=>x.Id==8)"></product-card>
    </div>
</div>


<modal id="simpleModal"
       title="Предзаказ">
    <modal-body>
        <p id="result">Нажмите на иконку нужной услуги</p>
    </modal-body>
</modal>
<script asp-src-include="~/js/serviceorders.js" asp-append-version="true">

</script>

