
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

    <script asp-src-include="~/js/app.js" asp-append-version="true"></script>
    <script asp-src-include="~/js/userinfo.js" asp-append-version="true"></script>
    <script asp-src-include="~/js/site.js" asp-append-version="true"></script>



<script>

    var app = new AppX();
    app.ShowUserInfo();

</script>