
@{
    ViewData["Title"] = "Index";
}
<p>

    <button class="btn btn-primary" style="margin-top:1%;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Что значит конструктор?
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Выберите необходимые пункты работы, прикрепите всю необходимую документацию. Cписок тем, требования и рекомендации к оформлению работы, а также какой-либо материал по выбранной теме. Укажите желаемую оценку и напишите сообщение, указав важную по вашему мнению информацию.
        Мы ознакомимся с Вашей заявкой и в этот же день вышлем ответное письмо на эл.почту.
    </div>
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-6">
        <div class="card mb-6 shadow-sm">
            <div class="card-body">
                <p class="card-text">Отчёт по практике</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                    </div>
                    <small class="text-muted alert alert-info">От 3000 рублей</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-6 shadow-sm">
            <div class="card-body">
                <p class="card-text">Курсовая работа</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Конструктор</button>
                    </div>
                    <small class="text-muted alert alert-success">От 4000 рублей</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-6 shadow-sm">
            <div class="card-body">
                <p class="card-text">Дипломная работа</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="test()">Конструктор</button>
                    </div>
                    <small class="text-muted  alert alert-primary">От 8000 рублей</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-6 shadow-sm">
            <div class="card-body">
                <p class="card-text">Магистерская диссертация</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Конструктор</button>
                    </div>
                    <small class="text-muted alert alert-warning">От 14000 рублей</small>
                </div>
            </div>
        </div>
    </div>

</div>
@await Component.InvokeAsync("PreOrder")
<p id="result"></p>
<script>
  function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true);
    xmlHttp.send(null);
}
    function Result(msg) {
      document.getElementById("result").innerHTML = msg;
    }

    function test() {
        httpGetAsync("@Url.Action("GetServiceType", "Services")",Result);
    }
</script>

